:root {
    --bg-white: #ffffff;
    --bg-green: #017f67;
    --bg-dark-green: #245852;
    --bg-black: #292929;
    --bg-btn: #000000;
    --bg-description: #484848;
    --bg-main-about-h2: #424242;
    --bg-main-about-h3:#01996D;
    --bg-main-about-img: #C4C4C4;
}

/*media breakpoints: 992px, 768px, 576px, 480px */

/*video:  https://youtu.be/9Hxmq5LiNPY */
